<h1>Pirate</h1>
<div>
    <p>Pirate Name: <%=@pirate.name%></p>
    <p>Pirate Weight: <%=@pirate.weight%></p>
    <p>Pirate Height: <%=@pirate.height%></p>
</div>

<h2>Ships</h2>

<% @ships.each.with_index(1) do |ship,index| %>
  <article>
    <h3>Ship # <%=index %></h3>
    <section>
      <p>Ship Name: <%=ship.name%></p>
      <p>Ship Type: <%=ship.type%></p>
      <p>Ship Booty: <%=ship.booty%></p>
    </section>
  </article>
<% end %>